<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account created</title>

<link rel="stylesheet" type="text/css" th:href="@{/CSS/security-layout.css}">
</head>
<body>
	    <div class="wrapperAccountCreated">
	  		<div class="containerAccountCreated">
	  			<p>Contul a fost creat!</p>
    	 		<form action="/login" method="GET">
    	 			<input class="accountCreatedButton" type="submit" value="La pagina de logare"/>
 				</form>
 			</div>
 		</div>
</body>
</html>