<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FAQ</title>
<link rel="styleSheet" type="text/css" th:href="@{/CSS/account-layout.css}"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<ul th:replace="page-layout :: userNavBar"></ul>
	
	<div class="container">
		<h3>FAQ</h3>
		
		<p>Nu gasesti raspunsul tau aici? Vă rugăm să ne contactați trimițând un e-mail la customerservice@library.com.</p>
		
		<h4>Pentru cât timp pot împrumuta o carte?</h4>
		<p>Cărțile pot fi împrumutate pentru 31 de zile. Starea cărților dvs. poate fi verificată în contul personal de bibliotecă de pe site-ul nostru web.</p>
		
		<h4>Cum pot rezerva o carte?</h4>
		<p>Căutați cartea prin contul personal de bibliotecă pe site-ul nostru și faceți clic pe butonul „Comandă”. Dacă cartea nu este ridicată, rezervarea va fi anulată de către bibliotecar.</p>
		
		<h4>Ce se întâmplă dacă pierd o carte?</h4>
		<p>Vă rugăm să contactați serviciul nostru pentru clienți cât mai curând posibil. Biblioteca va percepe un preț mic pentru carte, în funcție de valoarea acesteia.</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/JS/reader-dashboard.js" type="text/javascript"></script>
</body>
</html>